<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/assets/vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/assets/vendors/fontawesome/css/brands.min.css">
    <title>Login - Cycling Club</title>
</head>

<body>
    <%- include('../partials/header') %>
    <main class="container">
        <div class="row">
            <div class="col-xl-4 col-md-4 col-sm-12 col-xs-12">
                <h1 class="h1">Sign In</h1>
                <div class="social-btn-group text-center">
                    <a href="" class="btn btn-outline-primary social-btn"><i class="fab fa-google"></i> Sign in with Google</a>
                    <a href="" class="btn btn-outline-primary social-btn"><i class="fab fa-facebook"></i> Sign in with Facebook</a>
                </div>
                <div class="hr-text text-center"><span>or</span></div>
                <form action="/login" method="POST">
                    <div class="mb-3">
                        <label class="form-label">Email</label>
                        <input type="email" name="email" class="form-control" placeholder="johndoe@mail.com">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Password</label>
                        <span class="form-label-description"><a href="/forgot" class="text-decoration-none">I forgot password</a></span>
                        <input type="password" name="password" class="form-control" placeholder="********">
                    </div>
                    <div class="mb-3 form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          Remember this session
                        </label>
                      </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-main btn-block">Login</button>
                    </div>
                </form>
                <div>
                    <p>Did'nt have an account yet? <a href="/register" class="text-decoration-none">Register</a></p>
                </div>
            </div>
            <div class="col-xl-8 col-md-8 d-sm-none d-md-block">
                <img src="/assets/images/login.png" alt="" class="img-fluid mx-5">
            </div>
        </div>
    </main>
    <%- include('../partials/footer') %>
</body>

</html>