<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Gallery - Cycling Club</title>
</head>
<body>
    <%- include('../partials/header') %>
    <main></main>
    <%- include('../partials/footer') %>
</body>
</html>