<footer class="footer mt-auto py-3">
    <div class="container">
        <span class="text-muted">&copy; Muhammad Daimus Suudi 2020</span>
    </div>
</footer>
<script src="/assets/vendors/bootstrap/js/bootstrap.min.js"></script>