<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
    <title>Cycling Club</title>
</head>

<body>
    <%- include('partials/header') %>

    <main>
        <section class="container welcome" id="welcome">
            <div class="row">
                <div class="col-md-3">
                    <h1>Cycling Club</h1>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit, dolor fuga corrupti at nemo
                        odit quibusdam harum voluptatibus accusantium dolores, excepturi possimus tempore asperiores
                        iusto omnis doloremque, ipsa vel temporibus.</p>
                    <a href="" class="btn btn-primary">Join Us</a>
                </div>
                <div class="col-md-9">
                    <img src="/assets/images/cycling.jpg" alt="" class="ilustration">
                </div>
            </div>
        </section>

        <section id="featuring">
            <div class="container">

            </div>
        </section>

        <section class="container" id="counter">
            <div class="row justify-content-md-center">
                <div class="col-md-2">
                    <div class="card counter-card">
                        <div class="card-body">
                            <img src="https://cdn.dribbble.com/users/2771385/screenshots/5895966/illustrations-17.jpg"
                                alt="">
                            <span class="counter-num">1.000</span>
                            <span class="counter-title">KM Ride</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>


    <%- include('partials/footer') %>
</body>

</html>